## **1) From the below list print only the word 'python' using indexing**

In [ ]:
list1 = [1,2,[3,4],[5,[100,200,['python']],23,11],1,7]

In [ ]:
#solution here
list1[3][1][2][0]

'python'

## **2) Ask the user to input a list of integers seperated by a space and perform the below steps**

In [ ]:
# Step 0: Input values from user into list called nums
nums = [int(n) for n in input().split()]

1 2 3 4 5 6

In [ ]:
# Step 1: Find minimum and maximum values
minimum = nums[0]
maximum = nums[0]
for i in range(len(nums)):
    if nums[i] < minimum:
        minimum = nums[i]
    if nums[i] > maximum:
        maximum = nums[i]

print(f'Minimum: { minimum }')
print(f'Maximum: { maximum }')

Minimum: 1
Maximum: 6

In [ ]:
# Step 2: Calculate mean
total = 0
for i in range(len(nums)):
    total += nums[i]

mean = total / len(nums)
print(f"Mean: {mean:.1f}")

Mean: 3.5

In [ ]:
# Step 4: Find and output median

# Sort list elements in ascending order
nums.sort()

length = len(nums)

if length % 2 == 0:
   median = (nums[length // 2] + nums[(length // 2) - 1]) / 2.0 
else:
   median = nums[length // 2]

print(f"Median: {median:.1f}")

Median: 3.5

### **3) Make a dictionary of frequency of the words from the below string, select words that have 4 or more letters in it .** 
- Key of the dictionary should be word and value should be the number of times that word has appeared in the paragraph, sort the dictionary in descending order and print the results in a formatted table.

```Python
text = '''The goal is to turn data into information and information into insight . 
You can have data without information but you cannot have information without data .'''

```

In [ ]:
def word_freq(text):
    word_counts =   {}

    # Count occurrences of each unique word
    for word in [word for word in text.split() if len(word)>=4]:
        if word in word_counts:
            word_counts[word]   += 1  # Update existing key-value pair
        else:
            word_counts[word]   = 1  # Insert new key-value pair

    # Sort the dictionary
    sorted_dict_freq = dict(sorted(word_counts.items(), key=lambda x: x[1], reverse=True))
    return sorted_dict_freq

def main():
    text = '''The goal is to turn data into information and information into insight . 
    You can have data without information but you cannot have information without data.'''

    text_dict_freq = word_freq(text)
    # Display the results
    print(f'{"Word:":^12} {"Frequency:":^12}' )
    print("-"*24)
    for word, count in   text_dict_freq.items():
        print(f'{word:^12}{count:^12}')



# Call the main function.
if __name__ == '__main__':
    main()

   Word:      Frequency:
------------------------
information      4
    data         2
    into         2
    have         2
  without        2
    goal         1
    turn         1
  insight        1
   cannot        1
   data.         1

### **4)** Write a program that let the user enter a course number, then it should display the courseâ€™s room number, instructor, and meeting time.
- Creates a dictionary **rooms** containing course numbers and the room numbers of the rooms where the courses meet. The dictionary should have the following key-value pairs:

<center>


|Course Number (key)	|Room Number (value)
| ----------- | ----------- |
|CS101	|3004|
|CS102	|4501|
|CS103	|6755|
|NT110	|1244|
|CM241	|1411|

</center>

- The program should also create a dictionary **instructors** containing course numbers and the names of the instructors that teach each course. The dictionary should have the following key-value pairs:

<center>

|Course Number (key)	|Instructor (value)
| ----------- | ----------- |
|CS101	|Haynes
|CS102	|Alvarado
|CS103	|Rich
|NT110	|Burke
|CM241	|Lee

</center>

- The program should also create a dictionary **times** containing course numbers and the meeting times of each course. The dictionary should have the following key-value pairs:

<center>

|Course Number (key)	|Meeting Time (value)
| ----------- | ----------- |
|CS101	|8:00 a.m.
|CS102	|9:00 a.m.
|CS103	|10:00 a.m.
|NT110	|11:00 a.m.
|CM241	|1:00 p.m.

</center>

In [ ]:
def main():
    # Initialize dictionaries
    rooms = {'CS101':3004, 'CS102':4501, 'CS103':6755,
             'NT110':1244, 'CM241':1411}

    instructors = {'CS101':'Haynes', 'CS102':'Alvarado',
                   'CS103':'Rich', 'NT110':'Burke',
                   'CM241':'Lee'}

    times = {'CS101':'8:00 am', 'CS102':'9:00 am',
             'CS103':'10:00 am', 'NT110':'11:00 am',
             'CM241':'12:00 pm'}

    course = input('Enter a course number: ')

    if course not in rooms:
        print(f'{course} is an invalid course number.')
    else:
        print(f'The details for course {course} are:')
        print(f'Room: {rooms[course]}')
        print(f'Instructor: {instructors[course]}')
        print(f'Time: {times[course]}')

# Call the main function.
if __name__ == '__main__':
    main()

Enter a course number: CS101
The details for course CS101 are:
Room: 3004
Instructor: Haynes
Time: 8:00 am

### 5. Use the below `product_inventory` string to create three lists for `product_lists`, `price_list`, and `count_list`. Each line of the string represent three fields separated by comma : *__quantity, product_name, price__*:

*Hint: Use for loop to traverse the lines and assign each seperated field to the proper list.*

In [ ]:
product_inventory = """
30, apple, 0.60
40, banana, 0.20
20, grapefruit, 0.75
100, grapes, 1.99
49, kiwi, 0.50
30, lemon, 0.20
30, lime, 0.25
50, mango, 1.50
40, papaya, 2.95
50, pineapple, 5.50
60, blueberries, 2.99
10, blackberries, 2.50
50, peach, 0.50
40, plum, 0.33
40, clementine, 0.25
20, cantaloupe, 3.25
40, pear, 1.25
50, quince, 0.45
40, orange, 0.60
"""

In [ ]:
product_list = []
price_list = []
count_list = []

for item in product_inventory.strip().split('\n'):
    count, product, price = item.split(",")
    count_list.append(int(count))
    product_list.append(product)
    price_list.append(float(price))

#### a. Store the product names in a list `product_list`  then sort and display the list.

In [ ]:
#solution here
sorted(product_list)

[' apple',
 ' banana',
 ' blackberries',
 ' blueberries',
 ' cantaloupe',
 ' clementine',
 ' grapefruit',
 ' grapes',
 ' kiwi',
 ' lemon',
 ' lime',
 ' mango',
 ' orange',
 ' papaya',
 ' peach',
 ' pear',
 ' pineapple',
 ' plum',
 ' quince']

#### b. Display the average, min and max cost for all the products.

In [ ]:
#solution here
print("Min price:", min(price_list))

Min price: 0.2

In [ ]:
print("Max price:", max(price_list))

Max price: 5.5

In [ ]:
average = sum(price_list) / len(price_list) 
print(f'Average price: {average:.1f}')

Average price: 1.4

#### c. Display the total count of the products quantities.

In [ ]:
#solution here
print(f"Total count of products is: {sum(count_list)}")

Total count of products is: 789